@charset "utf-8";
/* CSS Document */
.show {
    background:#fff;
}
input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#000;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(images/check_radio_sheetc.png) left top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(images/check_radio_sheetc.png) -19px top no-repeat;
}
